{% extends 'src/base.html' %}

{% block title %}Страница авторизации{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-success text-center">
				Добро пожаловать на сайт tsrdev.ru
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h3>
						Пожалуйста, введите свой логин и пароль
					</h3>
					<form role="form" method="post">
						<div class="form-group">

							<label for="exampleInputEmail1">
								Почта
							</label>
							<input type="email" class="form-control" id="email" name="email" />
						</div>
						<div class="form-group">

							<label for="exampleInputPassword1">
								Пароль
							</label>
							<input type="password" class="form-control" id="password" name="password" />
						</div>
						<button type="submit" class="btn btn-primary">
							Войти
						</button>
					</form>
                    <a type="button" class="btn btn-block btn-primary" href="/register">
						Зарегистрироваться
					</a>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}