{% extends 'src/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    {% for test in tests %}
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-primary">
				Тест {{ test['title'] }}
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="row">
			</div>
		</div>
		<div class="col-md-8">

			<div class="row">
				<div class="col-md-12">
                    {% if test['device_id'] %}
                        <h3>Количество отчётов: {{ test['device_id']|length }}</h3>
                    {% for report in test['device_id'] %}
                        <div class="col-md-8">
                            <p>
                                Описание: {{ report['body'] }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <form role="form" method="post">
                                <input class="form-control" id="report_id" name="report_id" type="hidden" value="{{ report['report_id'] }}">
                                <input class="form-control" id="developer_id" name="developer_id" type="hidden" value="{{ user_id }}">
                                <select class="form-control" id="rating" name="rating">
                                    <option value="1">Очень плохо написан</option>
                                    <option value="2">Плохо написан</option>
                                    <option value="3">Написан посредственно</option>
                                    <option value="4">Есть небольшие помарки</option>
                                    <option value="5">Без претензий</option>
                                </select>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        Оценить
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                    {% else %}
                    <h3 class="text-center">
                    У пользователя нету отчётов по тесту
                    </h3>
                    {% endif %}
				</div>
			</div>

		</div>
		<div class="col-md-2">
			<div class="row">
				</div>
			</div>
		</div>
	</div>
    {% endfor %}
{% endblock %}

{% block footer %}
    	<div class="row">
					<a type="button" class="btn btn-success btn-block" href="/">
						Вернуться в главное меню
					</a>
        </div>
{% endblock %}